* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cairo', sans-serif;
}

nav.navbar .navbar-nav li a.nav-link {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    padding-right: 24px;
    padding-left: 24px;
    transition: all .5s ease;
}

nav.navbar .navbar-nav li a.nav-link:hover,
nav.navbar .navbar-nav li a.nav-link.active {
    color: #0575e6;
    background-color: #fff;
}

nav.navbar.noTransparent {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link {
    color: #0575e6;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link:hover,
nav.navbar.noTransparent .navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #0575e6;
}

header.header {
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

header.header .overlay {
    background-color: rgba(5, 117, 230, 0.9);
    color: #fff;
    padding: 40px 60px;
    transform: translateY(20%);
}

header.header .personel img {
    border: 5px solid #73ade7;
    margin-bottom: 20px;
    border-radius: 50%;
}

header.header .overlay h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #f9f9f9;
}

header.header .overlay h1 span {
    font-size: 24px;
}

header.header .overlay ul {
    margin-bottom: 40px;
}

header.header .overlay ul li a {
    font-size: 24px;
    color: #021b79;
}

header.header .overlay h2 {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

header.header .overlay p {
    font-size: 15px;
    line-height: 30px;
    color: #89c4ff;
    margin-bottom: 40px;
}

header.header .overlay a.cv {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 40px;
}

section.licence {
    padding: 200px 0 80px;
    background-color: #f6fbff;
}

section.licence .licence-title {
    padding-bottom: 30px;
    position: relative;
}

section.licence .licence-title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #196dd1;
}

section.licence .licence-title h2::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #196dd1;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

section.licence .licence-title h2 i {
    display: block;
}

section.licence ul.timeline {
    padding-right: 0;
    padding-top: 45px;
    list-style: none;
    position: relative;
}

section.licence ul.timeline::before {
    content: "";
    width: 2px;
    height: 75%;
    position: absolute;
    top: 0;
    right: 50%;
    background-color: #196dd1;
    transform: translateX(50%);
}

section.licence ul.timeline li .timebox {
    background-color: #fff;
    border: 2px solid #f4f4f5;
    padding: 20px 25px;
    width: 48%;
    position: relative;
}

section.licence ul.timeline li .timebox h4 {
    font-size: 18px;
    line-height: 30px;
    color: #555;
}

section.licence ul.timeline li .timebox h4 span {
    color: #fff;
    background-color: #0575e6;
    padding: 0 5px;
    margin-left: 25px;
}

section.licence ul.timeline li .timebox p {
    font-size: 15px;
    line-height: 22px;
    color: #b1b1b1;
}

section.licence ul.timeline li .timebox::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-left: 2px solid #f4f4f5;
    border-bottom: 2px solid #f4f4f5;
    top: 5%;
    left: -10px;
    transform: rotate(45deg);
}

section.licence ul.timeline li {
    position: relative;
    margin-bottom: -50px;
}

section.licence ul.timeline li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #196dd1;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

section.licence ul.timeline li:nth-child(even) {
    direction: ltr;
    text-align: left;
}

section.licence ul.timeline li:nth-child(even) .timebox::after {
    border: 0;
    left: auto;
    right: -10px;
    border-right: 2px solid #f4f4f5;
    border-top: 2px solid #f4f4f5;
}

section.licence ul.timeline li:nth-child(even) .timebox h4 span {
    float: left;
    margin-left: 0;
    margin-right: 25px;
}

section.statistics {
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgba(5, 117, 230, 0.7);
    padding: 150px 0;
}

section.statistics .overlay .stat p {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-top: 30px;
    font-family: sans-serif;
}

section.statistics .overlay .stat .circle canvas {
    background-color: #eef6ff;
    padding: 10px;
    border-radius: 50%;
}

section.statistics .overlay .stat .circle {
    position: relative;
}

section.statistics .overlay .stat .circle span {
    position: absolute;
    color: #0575e6;
    font-size: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

section.gallery {
    padding: 75px 0 90px;
}

section.gallery .gallery-title {
    margin-bottom: 35px;
}

section.gallery .gallery-title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #0575e6;
}

section.gallery .gallery-work label {
    font-size: 18px;
    line-height: 35px;
    color: #8f9899;
    padding: 10px 30px;
    background-color: #fff;
    border: 2px solid #e4eeee;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 7px 40px;
    transition: all 0.5s ease;
}

section.gallery .gallery-work label:hover {
    color: #fff;
    background-color: #0575e6;
    border: 2px solid #0575e6;
}

section.gallery .gallery-work .items .item {
    margin-bottom: 25px;
    transition: all 0.5s ease;
}

section.gallery .gallery-work .items .item img {
    width: 100%;
}

section.gallery .gallery-work input.item-type-1:checked~label.label-type-1,
section.gallery .gallery-work input.item-type-2:checked~label.label-type-2,
section.gallery .gallery-work input.item-type-3:checked~label.label-type-3,
section.gallery .gallery-work input.item-type-all:checked~label.label-type-all {
    color: #fff;
    background-color: #0575e6;
    border: 2px solid #0575e6;
}

section.gallery .gallery-work input.item-type-1:checked~.items .item-type-1, 
section.gallery .gallery-work input.item-type-2:checked~.items .item-type-2,
section.gallery .gallery-work input.item-type-3:checked~.items .item-type-3 {
    transform: scale(1.08);
    opacity: 1;
}

section.gallery .gallery-work input.item-type-1:checked~.items .item:not(.item-type-1),
section.gallery .gallery-work input.item-type-2:checked~.items .item:not(.item-type-2),
section.gallery .gallery-work input.item-type-3:checked~.items .item:not(.item-type-3) {
    transform: scale(0.8);
    opacity: 0.5;
}

section.contacts {
    background-image: url(../images/bg-3.jpg);
    background-position: center;
    background-size: cover;
}

section.contacts .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 70px;
}

section.contacts .overlay .testimonials-title h3 {
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 40px;
}

section.contacts .overlay .testimonials .slider {
    width: 65%;
    margin: 0 auto 80px;
}

section.contacts .overlay .testimonials .slider .carousel-item {
    min-height: 350px;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption {
    background-color: #fff;
    width: 100%;
    padding: 80px 70px 35px;
    right: 0;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption img {
    position: absolute;
    top: 0;
    transform: translate(50%, -50%);
}

section.contacts .overlay .testimonials .slider .carousel-caption h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

section.contacts .overlay .testimonials .slider .carousel-caption h4 span {
    font-size: 15px;
    color: #9c9c9c;
}

section.contacts .overlay .testimonials .slider .carousel-caption p {
    font-size: 15px;
    line-height: 22px;
    color: #b1b1b1;
    margin-bottom: 25px;
}

section.contacts .overlay .testimonials .slider .carousel-caption li a {
    font-size: 24px;
    color: #b2d8fe;
    transition: all .5s ease;
}

section.contacts .overlay .testimonials .slider .carousel-caption li a:hover {
    color: #0575e6;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators {
    bottom: -5px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators button {
    width: 15px;
    height: 15px;
    border: 1px solid #0575e6;
    background-color: #fff;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators button.active {
    background-color: #0575e6;
}

section.contacts .overlay .testimonials .carousel .carousel-control-next i,
section.contacts .overlay .testimonials .carousel .carousel-control-prev i {
    padding: 10px 20px;
    background-color: #0575e6;
    border-radius: 50%;
}

section.contacts .overlay .testimonials .carousel .carousel-control-next {
    transform: translateX(-50%);
}

section.contacts .overlay .testimonials .carousel .carousel-control-prev {
    transform: translateX(50%);
}


section.contacts .overlay .contact-info {
    background-color: #fff;
    padding: 50px;
}

section.contacts .overlay .contact-info .contact-title {
    font-size: 30px;
    color: #0575e6;
    line-height: 50px;
    margin-bottom: 35px;
}

section.contacts .overlay .contact-info .contact-form input,
section.contacts .overlay .contact-info .contact-form textarea {
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    font-size: 18px;
    color: #c2c2c2;
    line-height: 35px;
    padding-right: 45px;
    text-align: right;
    margin-bottom: 15px;
}

section.contacts .overlay .contact-info .contact-form .col-sm-6 {
    position: relative;
}

section.contacts .overlay .contact-info .contact-form .col-sm-6::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #0575e6;
    font-weight: 900;
}

section.contacts .overlay .contact-info .contact-form .col-sm-6:first-child::before {
    content: "\f007";
}

section.contacts .overlay .contact-info .contact-form .col-sm-6:nth-child(2)::before {
    content: "\f0e0";
}

section.contacts .overlay .contact-info .contact-form button {
    font-size: 24px;
    color: #0575e6;
    line-height: 25px;
    background-color: #fff;
    border: 3px solid #0575e6;
    padding: 15px 70px;
    border-radius: 3px;
    max-width: 200px;
    margin-right: 15px;
    transition: all .5s ease;
}

section.contacts .overlay .contact-info .contact-form button:hover {
    color: #fff;
    background-color: #0575e6;
}

section.contacts .overlay .contact-info ul.contact-us li {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #0575e6;
}

section.contacts .overlay .contact-info ul.social li {
    margin-right: 10px;
}

section.contacts .overlay .contact-info ul.social li a {
    background-color: #9bc8f5;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    border-radius: 50%;
    transition: all 0.3s ease;
}

section.contacts .overlay .contact-info ul.social li a:hover {
    background-color: #0575e6;
}

section.contacts .overlay .copyright p {
    font-size: 18px;
    color: #ececec;
    line-height: 77px;
    margin: 0;
    text-align: center;
}

label.error {
    color: red;
}

@media (max-width: 992px) {
    section.licence ul.timeline::before{
        height: 77%;
    }

    section.contacts .overlay .testimonials .slider {
        width: 90%;
    }
}

@media (max-width: 768px) {
    section.licence ul.timeline::before{
        height: 88%;
    }

    section.licence ul.timeline li .timebox {
        width: 90%;
        margin: auto;
    }

    section.licence ul.timeline li {
        margin-bottom: 25px;
    }

    section.licence ul.timeline li .timebox::after {
        content: none;
    }

    section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption {
        padding: 65px 35px 35px;
    }
}